@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}

#content {
	margin: 0 auto;
	width: 600px;
	text-align: center;
	color: white;
}

.icon {
	font-size: 64px;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: white;
}

small {
	font-size: 10px;
}